<div class="modal-header">
    <h4 class="modal-title"><i class="fa fa-font"></i> Add Text</h4>
    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="container">

        <h5 for="AddTextAssetNameAJAX">Asset Name:</h5>
        <input type="text" id="AddTextAssetNameAJAX" class="form-control" name="textName" />

        <br />

        <h5 for="AddTextObjectAJAX">Text:</h5>
        <input type="text" id="AddTextObjectAJAX" class="form-control" />
        <button id="AddTextObjectAJAXbtn" class="btn-lg btn-info" data-loading-text=" öffnen..." data-dismiss="modal" autocomplete="off">Save Text</button>

    </div>
</div>