<link rel="stylesheet" href="~/css/Custom_CSS/help.css" />

<div class="offset-2">
    <div class="jumbotron text-center">
        <h1>ReaLearn</h1>
        <p>Help</p>
        <button class="btn btn-light btn-lg" type="button">
            Download our documentation!(It's not quite ready yet though) <i class="fas fa-file-download"></i>
        </button>
    </div>

    <!-- Container (About Section) -->
    <div id="about" class="container-fluid">
        <div class="row">
            <div class="col-sm-8">
                <h2>FAQs</h2>
                <br>
                <h4>
                    I can't say we've had a lot of questions. But I'd imagine these are answers for potential questions.
                </h4>
                <hr />
                <p>
                    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#first-answer" aria-expanded="false" aria-controls="first-answer">
                        What type of assets can you add to a scene? <i class="fas fa-sort-down"></i>
                    </button>
                </p>
                <div class="collapse" id="first-answer">
                    <div class="card card-body">
                        A background image, text, 2D image, 2D video, audio, hotspots and question cards.
                    </div>
                </div>
                <br>

                <p>
                    <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#second-answer" aria-expanded="false" aria-controls="second-answer">
                        How many scenes can a course have? <i class="fas fa-sort-down"></i>
                    </button>
                </p>

                <div class="collapse" id="second-answer">
                    <div class="card card-body">
                        How many can you be bothered making?
                    </div>
                </div>
                <br>


            </div>
            <div class="col-sm-4">
                <i class="fas fa-question logo"></i>

            </div>
        </div>
    </div>
    </div>