.header {
    color: #36A0FF !important;
    font-size: 27px !important;
    padding: 10px !important;
}

.bigicon {
    font-size: 35px !important; 
    color: #36A0FF !important;
}

#contact-card {
    margin-top: 2% !important;
}

.body {
    height: 100% !important;
}
