.page-item .page-link {
    background-color: #fff !important;
    color: black !important;
    border: 0.5px solid #18BC9C !important;
}

.page-item.active .page-link {
    background-color: #ecf0f1 !important;
    color: black !important;
    border: 2px solid #18BC9C !important;
}

.EditCourseBtn {
    margin-right: 2%;
    border-radius: 4px;
}

#main-jumbotron {
    margin-bottom: 0%;
    padding-bottom: 0%;
}

#main-row {
    padding: 0.5%;
}